* {
    font-family: 'Spartan', sans-serif;    
    color: whitesmoke;
}

html {
    background-color: black;
}

nav {
    padding: 4px;
}

.two-column {
    display: grid;
    grid-template-columns: 50% 50%;
}
* {
    box-sizing: border-box;
}

.two-column > div {
    margin: 20px
}

#menu-item-page {
    height: 50px;
}

    #menu-item-page * {
        height: 24px;
    }

.card-overview {
    max-width: 300px;
}

    .card-overview div {
        margin: 6px 0 6px 0;
        
    }

    .card-overview strong {
        font-size: 14pt;
        color: darkgray;
    }

    .card-overview small {
        font-size: 9pt;
        color: darkgray;
        font-style: italic;
    }

.hide {
    display: none;
}


/* VALIDATION */
sl-input[invalid]::part(base) {
    background-color: #ffecef;
    border-color: red;
}

ul.validation-summary {
    color: darkred;
    background-color: #ffecef;
    padding: 10px 40px;
    border: 1px solid #ffb3b3;
    border-radius: 5px;
}
